h1{
    color: goldenrod;
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(./istockphoto-1218355494-170667a.jpeg)no-repeat center center fixed ;
    background-size: cover;
    color: white;
    text-align: center;
    font-weight: bolder;

    font-size: xx-large;
}

.message-el{
    font-style: italic;
}

.btn{
    width: 300px;
  padding: 20px 20px;
    border-radius: 5px;
    background-color: goldenrod;
    color: green;
    font-size: larger;
    border: none;
  
    margin-bottom: 10px;
}